body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.clickable {
  cursor: pointer;
}

.filter-active {
  background-color: gray;
}

.btn {
  border: 5px solid transparent; /* this was 1px earlier */
}

#override-bootstrap.btn:focus,
.btn.focus {
  -webkit-box-shadow: 0 0 0 0;
  box-shadow: 0 0 0 0;
}
